* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0faff;
}

.wrapper {
    position: relative;
    max-width: 470px;
    width: 100%;
    min-height: 540px;
    border-radius: 12px;
    padding: 20px 30px;
    background: #4070f4;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#logo {
    transform: translateY(-330px);
    position: absolute;
    max-width: 200px;
    max-height: 200px;
    
}
.wrapper #logo {
    display: flex;
    justify-self: center;
}

.form.signup {
    position: absolute;
    left: 50%;
    bottom: -86%;
    transform: translateX(-50%);
    background: #fff;
    width: calc(100% + 220px);
    border-radius: 50%;
    height: 100%;
    padding: 20px 140px;
    transition: all 0.6s ease;
}
.wrapper.active .form.signup{
    bottom: -15%;
    border-radius: 25%;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}
.form header {
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.form.signup header {
    color: #333;
    opacity: 0.6;
}
.wrapper.active .fomr.signup header {
    opacity: 1;
}
.wrapper.active .login header {
    opacity: 0.7;
}
.wrapper form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px
}

form input{
    height: 60px;
    outline: none;
    border: none;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    border-radius:  8px;
    background: #fff;
}
.form.signup input {
    border: 1px solid #aaa;
}
.form.signup input:focus {
    box-shadow: 0 1px 0 #ddd;
}
form .checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox input[type="checkbox"] {
    height: 16px;
    width: 16px;
    accent-color: #333;
    cursor: pointer;
}
form a{
    color: #fff;
    text-decoration: none;
}
form a:hover{
    text-decoration: underline;
}
form .checkbox label {
    cursor: pointer;
    color: #333;
    opacity: 0.7;
}
form input[type="submit"] {
    margin-top: 15px;
    padding: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.form.signup input[type="submit"] {
    background: #4070f4;
    color: #fff;
    border: none;
}