@import url('../main.css');
@import url('../base/variables.css');

*{
    font-family: var(--font-family-principal)
}

body{
  
    margin: 0;
    padding: 20px;
    font-family: var(--font-family-principal);
}
.header{
    margin: 10px 5px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    background-color: white;
    box-shadow: var(--default-shadow-box--);
    padding: 20px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.name{
    font-family: var(--font-family-principal);
    font-weight: 500;
    font-size: 1.5em;
}


.initial_text{
    color: var(--gray-);
    font-family: var(--font-family-principal);
}


.user-info{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 40px;
}

.user-info > button:hover{
    background-color: rgb(203, 201, 201);
}

.nome{
    font-family: var(--font-family-principal);
}

button{
    background-color: white;
    border: 1px solid var(-button-border-);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--font-family-principal);
}

main{
    margin-left: 3%;
    margin-top: 3%;
}

.message{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.message > button{
    font-family: var(--font-family-principal);
    font-size: 1.1em;
}
.message > button:hover{
    background-color: black;
    color: white;

}

.welcome{
    font-size: 1.5em;
    font-weight: 600;
}

.welcome_message{
   color: var(--gray-);
}

.add_instituition  {
    margin-top: 20px;
    width: 13%;
    display: flex;
    gap: 10px;
}

.card_container{
    display: grid;
    margin-top: 25px;
}

.card{
    box-shadow: var(--default-shadow-box--);
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    border-radius: 16px;

}



.institution_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 0 0 45px 0;
}

.institution_info h2{
    font-weight: 600;
    font-size: 1.1em;
    font-family: var(--font-family-principal);
}

.institution_info > button{
    border: none;
    width: 0.5%;
}


.info{
    display: flex;
    justify-content: space-between;
    margin: 18px 0 0 0;
    font-family: var(--font-family-principal);
}

.info > div{
    display: flex;
    gap: 10px;
}


.card > button{
    margin-top: 25px;
    border: solid 1px rgb(0, 110, 255);
    background-color: none;
}

.card > button:hover{
    color: white;
    border: solid 1px rgb(0, 110, 255);
    background-color: rgb(0, 110, 255);
}

