
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root{
    --font--:"Lexend Deca", sans-serif;
    --background--:#CBDCEB;
    --primary-color--: #608BC1;
    --hover--:#426a9a;
}


*{
    margin: 0;
    padding: 0;
    font-family: var(--font--);
}
body{
    background-color: var(--background--);
}

#main{
    display: flex;
    align-items: center;

    flex-direction: column;
}



#card{
    padding: 50px;
    border: 5px solid var(--primary-color--); 
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    gap: 30px;  

}
#card h2{
    font-size: 3em;
}

#card p{
    font-size: 1.2em;
}

#card button{
    padding: 6px;
    background-color: var();
    border: 2px solid var(--primary-color--);
    border-radius: 6px;
    font-size: 1.2em;

}

#card a{
    color: var(--primary-color--);
    text-decoration: none;
    font-size: 1.1em;
}
#card a:hover{
    color: var(--hover--);
    text-decoration: none;
}

#dados{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

#dados input{
    border: 1px solid var(--primary-color--);
    border-radius: 6px;
    width: 125%;
    font-size: 1em;
    padding: 6px;
}


#esqueci{
    font-size: 1em;
}