
button, .btn {
    cursor: pointer;
    border: none;
    font-weight: 600;
    border-radius: 6px;
    transition: background-color 0.3s;
    display: inline-flex;
    align-items: center;
    gap: 6px;
  }

button#add-course {
    background-color: #09090a;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  
button#add-course:hover {
    background-color: #18181b;
  }
  
/* Modal button para pop up cards - Samuel Campovilla*/
.modal_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin-top: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: black;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
