
button, .btn {
    cursor: pointer;
    border: none;
    font-weight: 600;
    border-radius: 6px;
    transition: background-color 0.3s;
    display: inline-flex;
    align-items: center;
    gap: 6px;
  }

button#add-course {
    background-color: #09090a;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  
button#add-course:hover {
    background-color: #18181b;
  }
  
